<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Forward any request to /api/ to the api directory (Don't rewrite index.html)
  RewriteRule ^api/ - [L]
  
  # React Router SPA support: Redirect all other requests to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
